@model routing_mvc.Models.Customer

@{
    ViewBag.Title = "Check";
}

<h2>Check</h2>

<div>
    <h4>customer info</h4>
    <hr />
    @using (Html.BeginForm("Save","Data",FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
                @Html.HiddenFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
                @Html.HiddenFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
                @Html.HiddenFor(model => model.Email)
            </dd>

        </dl>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }
    </div>
